/* Universal reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Lora', serif;
}

/* Header styles */
/* header {
    background: rgb(176, 223, 229);
    height: 66px;
} */

header * {
    color: rgb(103, 26, 3);
}

header .logo {
    font-size: -1em;
    float: left;
    height: inherit;
    margin-left: 6em;
    /* border: 1px solid black;*/
} 

header .logo-text {
    margin: 9px;
    font-family: 'Great Vibes', cursive;
}

header .logo-text span {
    color: rgb(248, 207, 157);
}
header ul {
    display: flex; /* Use flex to layout navbar items horizontally */
    justify-content: center; /* Center the items in the navbar */
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
    font-family: 'Candal', sans-serif;/* Allow the ul to grow and push other content to the sides */
}

 header ul li {
    margin: 0 8px; /* Add spacing between items if needed */
}
 

/* header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -10em; 
    /* border: 1px solid black; 
} */

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 10px;
    width: 100px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
    right: 0;
    float: left;
}

header ul li ul li a {
    padding: 10px;
    color: black;
    background: white;
    position: relative;
    float: left;
}

header ul li ul li a.logout {
    color: brown;
}

header ul li ul li a:hover {
    background: rgb(173, 177, 177);
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
    position: relative; /* Added position relative */
}

/* Hover effect for line below text */
header ul li a.hover-line::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px; /* Position the line below the text */
    left: 0;
    background-color:rgb(103, 26, 3);
    transition: width 0.3s ease;
}

header ul li a.hover-line:hover::after {
    width: 100%; /* Expands the line to full width of text */
}

header .menu-toggle {
    display: none;
}
